*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul.navegacao li{
    display:inline ;
   margin-right: 60px ;
   
}
.projetos{
   border: solid 5px;
   border-radius: 20px;
}

a{
    color: white;
    text-decoration: none;
}
nav{
    background-color:#363636;
    color: white;
}

body{
    background-color: #A9A9A9;
}

    
 .container{
    
        
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 200px;
        gap: 0px;
}
    
    
    
.imagem{
        text-align: center;
}
    
img{
        border: 3px solid ;
        border-radius: 50% ;
        height:450px;
        width: 400px;
    
}
    
strong{
        font-size: 50px;
    
    
}
 p{
        font-size: 25px;
}
.informacoes{
        margin-right: 100px;
}

    

.link{
       width: 50px;
       height: 50px;
}

a:hover{
    color: cadetblue;

}

 b{
        font-size: 23px;
}

main{
    text-align: justify;
}

@media(max-width:450px) {

img{
    height: 200px;
    width: 220px;
}
.imagem{
    text-align: center;
}

p{
    font-size: 23px;
}
ul.navegacao li{
    display:inline ;
   margin-right: 8px ;
   font-size: 27px;

}
.container{
    margin-top: 20px;
}
.container{
    
        
    margin: 10px;
    display: grid;
    grid-template-columns:  1fr;
    
    gap: 0px;
}
.informacoes{
    text-align: center;
    margin: 0px;
}

main{
    text-align: justify;
}
}